.login
{
    align-items: center;
    padding: 20% 20% 20% 20%;
    
}
.box{
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.textfiled{
    width: 2px;
}